nodered/data/flows.json
[
    {"id":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","type":"tab","label":"Modbus Dashboard","disabled":false,"info":"","env":[]},
    {"id":"modbus_client_1","type":"modbus-client","name":"PLC Modbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"172.25.0.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true,"showErrors":false,"showWarnings":true,"showLogs":true},
    {"id":"7b227f5a-5f22-4074-9e85-3f0f6d3f9d5f","type":"ui_tab","name":"Panel de Control","icon":"dashboard","disabled":false,"hidden":false},
    {"id":"b15c79af-ab19-47e0-8f1f-abe7c0d4e24a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},
    {"id":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","type":"ui_group","name":"Sensores","tab":"7b227f5a-5f22-4074-9e85-3f0f6d3f9d5f","order":1,"disp":true,"width":"6","collapse":false,"className":""},
    {"id":"d954f7bc-8e63-4a79-a2b3-8dbf9d5e8a90","type":"ui_group","name":"Setpoints","tab":"7b227f5a-5f22-4074-9e85-3f0f6d3f9d5f","order":2,"disp":true,"width":"6","collapse":false,"className":""},
    {"id":"1","type":"modbus-read","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"Leer Sensores (IR)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"4","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"modbus_client_1","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":100,"wires":[["2"]]},
    {"id":"2","type":"function","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"Parsear Sensores","func":"return [\n    {topic: 'temp1', payload: msg.payload[0]/100},\n    {topic: 'temp2', payload: msg.payload[1]/100},\n    {topic: 'presion', payload: msg.payload[2]/100},\n    {topic: 'nivel', payload: msg.payload[3]/100}\n];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["3","9"],["4","9"],["5"],["6","10"]]},
    {"id":"3","type":"ui_gauge","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"","group":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura 1","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":570,"y":40,"wires":[]},
    {"id":"4","type":"ui_gauge","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"","group":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura 2","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":570,"y":80,"wires":[]},
    {"id":"5","type":"ui_gauge","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"","group":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","order":3,"width":0,"height":0,"gtype":"gage","title":"Presión","label":"bar","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":550,"y":120,"wires":[]},
    {"id":"6","type":"ui_gauge","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"","group":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","order":4,"width":0,"height":0,"gtype":"gage","title":"Nivel Tanque","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":560,"y":160,"wires":[]},
    {"id":"7","type":"modbus-read","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"Leer Setpoints (HR)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"modbus_client_1","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":260,"wires":[["8"]]},
    {"id":"8","type":"function","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"Parsear Setpoints","func":"return [\n    {payload: msg.payload[0]/100},\n    {payload: msg.payload[1]/100},\n    {payload: msg.payload[2]},\n    {payload: msg.payload[3] === 1 ? 'AUTO' : 'MANUAL'}\n];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["11"],["12"],["13"],["14"]]},
    {"id":"9","type":"ui_chart","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"","group":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","order":5,"width":0,"height":0,"label":"Temperaturas","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":200,"wires":[[]]},
    {"id":"10","type":"ui_chart","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","name":"","group":"2c827453-cfde-4bc9-b966-5f4d5c6a4e61","order":6,"width":0,"height":0,"label":"Nivel Tanque","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":240,"wires":[[]]},
    {"id":"11","type":"ui_text","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","group":"d954f7bc-8e63-4a79-a2b3-8dbf9d5e8a90","order":1,"width":0,"height":0,"name":"","label":"Setpoint Temperatura","format":"{{msg.payload}} °C","layout":"row-spread","className":"","x":600,"y":220,"wires":[]},
    {"id":"12","type":"ui_text","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","group":"d954f7bc-8e63-4a79-a2b3-8dbf9d5e8a90","order":2,"width":0,"height":0,"name":"","label":"Setpoint Nivel","format":"{{msg.payload}} %","layout":"row-spread","className":"","x":570,"y":260,"wires":[]},
    {"id":"13","type":"ui_text","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","group":"d954f7bc-8e63-4a79-a2b3-8dbf9d5e8a90","order":3,"width":0,"height":0,"name":"","label":"Tiempo de Ciclo","format":"{{msg.payload}} ms","layout":"row-spread","className":"","x":580,"y":300,"wires":[]},
    {"id":"14","type":"ui_text","z":"f9eb86b2-4a04-4068-9f19-6c98ee8df9c1","group":"d954f7bc-8e63-4a79-a2b3-8dbf9d5e8a90","order":4,"width":0,"height":0,"name":"","label":"Modo Operación","format":"{{msg.payload}}","layout":"row-spread","className":"","x":580,"y":340,"wires":[]}
]
